
.hello{
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 30px 0px;
    

}

.hello ul{
    display: flex;
    gap: 30px;
    list-style: none;

}
header{
    background-image: url(images.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    color: blanchedalmond;
    height: 500px;
}