body{
    background-color: red;
}

h1{
    background-color: pink;
}
.hello {
    background-color: yellow;
}
.hey{
    background-color: blue;
}

h2{
    background-color: purple;
}

.no{
    background-color: wheat;
}